microphone/data
complete_program/models
camera/models
data/
complete_program/secrets.py

complete_program/LSTM_Data
complete_program/new_data

complete_program/analysis/

camera/

microphone/

.*
!/.gitignore